<style>
.body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
<body class="body">
<p><strong> Your current store version is v1.0.1 please check the store repository for new updates. </strong></p>

<br>

<p>
  <a href="../index.html">Return Home</a>
</p>
</body>
